{% extends "base.html" %}
{% block content %}

<div class="col-md-0 offset-md-0">

    <h1>Login</h1>
    </br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        </br>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>

</div>

{% endblock %}
